.row{
  margin-right: 0px;
margin-left: 0px;
margin-top: 2%;
margin-bottom: 2%;
}

.navbar{
  background: rgba(0,0,0,0.9);
  color: white;

}
.colorwhite{
  font-size:18px;
}
.carousel{
margin-bottom: 2%;
width: 99.9%;
margin: auto;
}
.conteiner{
  margin: auto;
  width: 100%;
}
.titleconteiner{
  text-align: center;

}
.pageonecont{
text-align: justify;
padding: 2%;
font-size: 1.3em;
}
.bioone{
  margin: auto;
  text-align: center;
}

.conteninfo{
  text-align: justify;
  margin-top: 2%;
  padding-bottom: 1%;
  font-size: 1.3em;

}
.clear-conten{
  display: inline-block;

}

/*Media para la imagen*/
@media  (max-width:850px){
  .conteninfo > img{
    width: 100%;
    margin-bottom: 4%;
  }

}
.biotwo{
  margin-bottom: 5%;
}
.img-galery{
  clear: both;
}
.titlegal{
  text-align: center;
  font-size: 2.5em;
}
.form-map{
  padding: 2%;
  height: 100vh;
}

.maps{
  margin: auto;
  width: 100%;
  height: 100%;
}
.contenidocontact{
  clear: both;
  font-size: 1.5em;
  text-align: center;
}

.textbio{
  font-size: 1.2em;
  padding-top: 2%;
  padding-bottom: 3%;
  text-align: justify;
}
.conent2{
  margin-top: 3%;
}


/*Footer*/
footer.row{
  clear: both;
  background: rgba(0,0,0,0.9);
  text-align: center;
  color: white;
  font-size: 1.2em;
  padding: 3%;
  margin-bottom: 0px;
}
