

.navbar{
  background: rgba(0,0,0,0.9);
  color: white;
  margin-bottom: 0.5%;

}
.colorwhite{
  font-size:18px;
}
.carousel{
margin-bottom: 2%;
width: 99.9%;
margin: auto;
}
.conteiner{
  margin: auto;
  width: 100%;
}
.titleconteiner{
  text-align: center;
  padding: 1% 0px;
}
.pageonecont{
text-align: justify;
padding: 2%;
font-size: 1.3em;
}

/*Footer*/
footer{
  background: rgba(0,0,0,0.9);
  text-align: center;
  color: white;
  font-size: 1.2em;
  padding: 3%;
}
